name: CI

on: [push]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Install dependencies
        uses: php-actions/composer@v6
        with:
          php_version: "7.3"
          version: 2
      - name: Run phpunit
        env:
          APP_ENV: test
        run: |
          bin/phpunit
