name: CI

on: [push]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Setup PHP with PECL extension
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.3

      - name: Install composer
        run: composer install --no-progress --prefer-dist

      - name: Run phpunit
        env:
          APP_ENV: test
        run: |
          bin/phpunit
